/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.searchbar {
    width: 30%;
    /* text-align:center; */
}
.myBtn {
    background-color: aqua;
}
.bannerCont {
    width: 100%;
    color: white;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(47,22,122,1) 53%, rgba(0,75,168,1) 100%);
}
#topNav{
    background-color: #24272B;
}


/* home------------------------------------------- */
.bodyCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #24272B;
}
/* div scroll------------------------- */
/* this is the parent div */
.itemCont {
    width: 70%;
    white-space: nowrap;
    overflow-x: scroll;
    margin: 1rem;
    /* background-color: rgba(139,160,164, 0.1); */
    backdrop-filter: blur(15px);
}
/* this is the child */
.itemDiv {
    display: inline-block;
    margin-right: 1rem;
    box-sizing: border-box;
}
.card-row {
    overflow-x: scroll;
}
/* scrollbar styles */
.itemCont::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.itemCont::-webkit-scrollbar-track {
    background: lightgrey; /* color of the tracking area */
}

.itemCont::-webkit-scrollbar-thumb {
    background-color: #d74a49; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid lightgray; /* creates padding around scroll thumb */
}

/* card----------------------------- */
.card {
    white-space: pre-line;
}
.card-img {
    max-height: 12rem;    
    min-height: 12rem;
    /* height: auto; */
}
.card > .card-body {
    height: 4rem;
    overflow: hidden;
}
.card > .card-body > h5 {
    font-size: 1rem;
}
#homebg{
    background-color: #24272B;
}

/* Category page------------------------- */
.categoryCont {
    padding: 1rem;
}


/* view items page----------------------------- */
.viewitemPageContainer{
    display: flex;
    padding: 1rem;
}
.itemDesc{
    margin: 1rem;
}
.aboutImg {
    width: 450px;
    max-height: 350px;
    margin-right: 1rem;
}
/* Buttons for the add to cart & Budget Buddy--------------------------------------*/
#btncb {
    margin: 8px;
}

/* login --------------------------------------------------------- */
.login-form {
    background: #fff;
    width: 352px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    /* box-shadow: 0px 10px 25px #e57373; */
  }
  .login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
  }
  .login-form .content {
    padding: 35px;
    text-align: center;
  }
  .login-form .input-field {
    padding: 12px 5px;
  }
  .login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: "Rubik", sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .login-form .action button:hover {
    background: #d8d8d8;
  }
  .login-form .action button:nth-child(2) {
    background: #ff1744;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .login-form .action button:nth-child(2):hover {
    background: #d50000;
  }
/* REGISTER FORM ---------------------------------------------------------*/
  .register-form {
    background: #fff;
    width: 352px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    /* box-shadow: 0px 10px 25px #e57373; */
  }
  .register-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
  }
  .register-form .content {
    padding: 35px;
    text-align: center;
  }
  .register-form .input-field {
    padding: 12px 5px;
  }
  .register-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: "Rubik", sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .register-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .register-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .register-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .register-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .register-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .register-form .input-field input:focus {
    border-color: #222;
  }
  .register-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }
  .register-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .register-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .register-form .action button:hover {
    background: #d8d8d8;
  }
  .register-form .action button:nth-child(1) {
    background: #ff1744;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .register-form .action button:nth-child(1):hover {
    background: #d50000;
  }